<!-- CAROUSEL -->
<br>
<p id="facebookShare" style="font-size: 20px; color:white">&#128204 Highlight (select) the joke you like and share with your friends!</p>
<br>
<div id="carouselWrapper">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="width: 60vw; height: 60vh">
    <div class="carousel-inner">
      <div class="carousel-item active">
      <img src="https://media.istockphoto.com/vectors/yellow-halftone-spotted-background-vector-id945172204?k=6&m=945172204&s=612x612&w=0&h=bP4XReoPy2UHtFXhwslYALrY4P0wNpWUas4tc_3zhaU=" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p id="secondLine">general</p>
      </div>
    </div>
    {{#each general}}
    <div class="carousel-item">
      <img src="https://media.istockphoto.com/vectors/yellow-halftone-spotted-background-vector-id945172204?k=6&m=945172204&s=612x612&w=0&h=bP4XReoPy2UHtFXhwslYALrY4P0wNpWUas4tc_3zhaU=" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p id="firstLine">{{this.setup}}</p>
        <p id="secondLine">{{#addEmoji this.punchline}}{{this.punchline}}{{/addEmoji}}</p>
        <form action="/add-fav" method="POST" class="form-group">
        <div style="display: none">
        <input type="text" name="_id" value={{this._id}}>
        <input type="text" name="id" value={{this.id}}>
        <input type="text" name="type" value={{this.type}}>
        <input type="text" name="setup" value={{this.setup}}>
        <input type="text" name="punchline" value={{this.punchline}}>
        </div>
        <button type="submit" class="fav" onsubmit="return false"><i class="bi bi-bookmark-plus" style="font-size:30px"></i></button>
        </form>
      </div>
    </div>
    {{/each}}
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>
