<!-- Profile BUTTON -->
<!-- TITLE -->
<h1 id="jokeText">Joke library</h1>
<br>
<!-- GET RANDOM JOKE -->
<div id="randomJokes">
  <div id="programming">
    {{#each jokeProgramming}}
    {{this.setup}}
    {{#addEmoji this.punchline}}{{this.punchline}}{{/addEmoji}}
    {{/each}}
  </div>
  <div id="knock">
    {{#each jokeKnock}}
    {{this.setup}}
    {{#addEmoji this.punchline}}{{this.punchline}}{{/addEmoji}}
    {{/each}}
  </div>
  <div id="general">
    {{#each jokeGeneral}}
    {{this.setup}}
    {{#addEmoji this.punchline}}{{this.punchline}}{{/addEmoji}}
    {{/each}}
  </div>
</div>
<!-- COLLECTION OF JOKES -->
<div id="cards">
  <div class="cardGeneral">
    <div class="card" style="width: 100%">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQt_g09RsIhD73qcR5btZa6tpAsKR4yx4S1Jg&usqp=CAU" class="card-img-top" alt="lol image">
      <div class="card-body">
        <h5 class="card-title" style="color: black;">General</h5>
        <a href="/main/general" title="profile"><i class="bi bi-caret-right-fill" style="font-size:48px"></i></a>
      </div>
    </div>
  </div>
  <div class="cardProgramming">
    <div class="card" style="width: 100%">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQt_g09RsIhD73qcR5btZa6tpAsKR4yx4S1Jg&usqp=CAU" class="card-img-top" alt="code image">
      <div class="card-body">
        <h5 class="card-title"style="color:black">Programming</h5>
        <a href="/main/programming" title="profile"><i class="bi bi-caret-right-fill" style="font-size:48px"></i></a>
      </div>
    </div>
  </div>
  <div class="cardKnock">
    <div class="card" style="width: 100%">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQt_g09RsIhD73qcR5btZa6tpAsKR4yx4S1Jg&usqp=CAU" class="card-img-top" alt="yellow door">
      <div class="card-body">
        <h5 class="card-title" style="color:black">Knock-knock</h5>
        <a href="/main/knock-knock" title="profile"><i class="bi bi-caret-right-fill" style="font-size:48px"></i></a>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<br>
 <h1>Gif Gallerie</h1>
    <br>
    <span class="container">
 <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="width: 40vw; height: 40vh">
  <div class="carousel-indicators2">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://media2.giphy.com/media/L8K62iTDkzGX6/200.gif">
    </div>
    <div class="carousel-item">
      <img src="https://images.prismic.io/superpupertest/5968882f-612b-4dcd-9dd5-b72bcf2d5349_1_Rso2HJjgrqRrIrgs0SWJcw.gif?auto=compress,format" alt="">  
      </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/originals/c5/07/5d/c5075d791fee5d4aba5c561280f0ceaa.gif" class="d-block w-100" alt="...">
    </div>
       <div class="carousel-item">
      <img src="https://cloudinary-res.cloudinary.com/image/upload/c_limit,w_770/f_auto,fl_lossy,q_auto/Mario_1.gif" alt="">  
      </div>
    <div class="carousel-item">
      <img src="https://media.tenor.com/images/8044123361eee8ef681ef22fb1b23a4a/tenor.gif" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Flocalhost%3A3000%2Fmain&layout=button_count&size=small&width=99&height=20&appId" width="99" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
  </button>
</div>
   
   <br>

 <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="width: 40vw; height: 40vh">
  <div class="carousel-indicators3">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://media1.tenor.com/images/505ddb5e0b0e8c3e96b66e1469ef47c1/tenor.gif?itemid=4903969" >
    </div>
    <div class="carousel-item">
      <img src="https://media.tenor.com/images/374d4c819d045d3d7a3e14c9c4b16ee2/tenor.gif" alt="">  
      </div>
    <div class="carousel-item">
      <img src="https://media4.giphy.com/media/gG6OcTSRWaSis/giphy.gif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://data.whicdn.com/images/72542115/original.gif" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
      <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Flocalhost%3A3000%2Fmain&layout=button_count&size=small&width=99&height=20&appId" width="99" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
  </button>
</div>
<br>
