<h1>Programming</h1>
{{#each programming}}
<p>{{this.setup}}</p>
<p>{{this.punchline}}</p>
{{/each}}

<h2>General</h2>
{{#each general}}
<p>{{this.setup}}</p>
<p>{{this.punchline}}</p>
{{/each}}


<h2>Knock-knock</h2>
{{#each knock}}
<p>{{this.setup}}</p>
<p>{{this.punchline}}</p>
{{/each}}
