<a href="/main" title="main"><i class="bi bi-columns-gap" style="font-size:48px"></i></a>
<br>
<h1>Hello {{myUser.username}}!</h1>
<br>
<h5>{{myUser.username}}</h5>
<h5>{{myUser.email}}</h5>
<br>
<a href="/main" title="main"><i class="bi bi-gear" style="font-size:48px"></i></a>
<br>
<h4>Your Favorite Jokes</h4>
<br>
{{setup}}
{{punchlines}}
<br>
<br>
<a href="/main" title="main"><i class="bi bi-x-square" style="font-size:48px"></i></a>
<br>
<br>
