<!-- TITLE -->
<h1>Hello {{user.username}} Welcome to your private page!</h1>
<br>
<!-- PROFILE INFO & EDIT -->
<p>Username: {{user.username}}</p>
<p>Email: {{user.email}}</p>
<br>
<a href="/profile/{{user._id}}/edit"><i class="bi bi-gear" style="font-size:48px"></i></a>
<br>
<br>
<!-- FAVORITE JOKES -->
<h4>Your Favorite Jokes</h4>
<br>
{{myUser.favJokes}}
<br>
{{#each user.favJokes}}
<h4>{{this.setup}}</h4>
<p>{{this.punchline}}</p>
<br>
<!-- DELETE BUTTON -->
<form action="/{{this._id}}/delete" method="POST">
<button type="submit" onsubmit="return false"><i class="bi bi-x-square" style="font-size:48px"></i></button>
</form>
{{/each}}
