<!-- TITLE -->
<div id="profileText">
<h1>Welcome {{user.username}}</h1>
<br>
<!-- PROFILE INFO & EDIT -->
<div id="profileWrapper">
    <div id="profileLeftCol">
    <div id="editprofileWrapper">
        <div id="profileInfo">
            <p>Username: {{user.username}}</p>
            <p>Email: {{user.email}}</p>
        </div>
        <a href="/profile/{{user._id}}/edit"><i class="bi bi-gear" style="font-size:48px"></i></a>
        </div>
        <div id="profileWarningFB">
        <p style="font-size: 18px; color:#f0eeeb">You can  share on facebook your favorite jokes!</p>
        <p style="font-size: 18px; color:#f0eeeb">Underline the joke you like and click in the share button!</p>
        </div>
    </div>
    <div></div>
    <!-- FAVORITE JOKES -->
    <div id="favJokesWrapper">
        <br>
        <h4 style="color: black">Your Favorite Jokes</h4>
        {{#each user.favJokes}}
        <div id="favJokes">
            <p style="font-size: 20px; color:white">{{this.setup}}</p>
            <p style="font-size: 30px;">{{#addEmoji this.punchline}}{{this.punchline}}{{/addEmoji}}</p>
            <!-- DELETE BUTTON -->
        </div>
        <form action="/{{this._id}}/delete" method="POST">
        <button type="submit" onsubmit="return false"><i class="bi bi-x-square"></i></button>
        </form>
        {{/each}}
    </div>
</div>
<br>
