<!-- MAIN BUTTON -->
<a href="/main" title="main"><i class="bi bi-columns-gap" style="font-size:48px"></i></a>
<!-- TITLE -->
<h1>Hello {{myUser.username}} Welcome to your private page!</h1>
<br>
<!-- PROFILE INFO & EDIT -->
<p>username: {{user.username}}</p>
<p>email: {{user.email}}</p>
<br>
<a href="/main" title="main"><i class="bi bi-gear" style="font-size:48px"></i></a>
<br>
<!-- FAVORITE JOKES -->
<h4>Your Favorite Jokes</h4>
<br>
{{#each user.favJokes}}
<h4>{{this.setup}}</h4>
<p>{{this.punchline}}</p>
<br>
<!-- DELETE BUTTON -->
<form action="/{{this._id}}/delete" method="POST">
<button type="submit" onsubmit="return false"><i class="bi bi-x-square" style="font-size:48px"></i></button>
</form>
{{/each}}
